<!DOCTYPE html>
<html class="exam-html">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {{ encore_entry_script_tags('app') }}
        <link rel="icon" href="{{ asset("img/favicon.ico") }}">
        <link rel="stylesheet" href="{{ asset("css/style.css") }}"/>
    </head>
    <body class="exam-body">
    <div class="exam-header-img">
    <div class="title"><h1>Climate changes</h1></div>
    </div>
    <ul class="exam-navbar">
        <li><a href="{{ path("proj-home") }}">Home</a></li>
        <li><a href="{{ path("proj-about") }}">About</a></li>
    </ul>
