{% include 'exam/header.html.twig' %}
<div>
{{ render_chart(chart) }}
</div>

<div class="center">
    <a class="year-button" href="{{ path("proj-data-year", {'dataYear': 2008}) }}">2008</a>
    <a class="year-button" href="{{ path("proj-data-year", {'dataYear': 2010}) }}">2010</a>
    <a class="year-button" href="{{ path("proj-data-year", {'dataYear': 2012}) }}">2012</a>
    <a class="year-button" href="{{ path("proj-data-year", {'dataYear': 2014}) }}">2014</a>
    <a class="year-button" href="{{ path("proj-data-year", {'dataYear': 2016}) }}">2016</a>
</div>
{% include 'exam/footer.html.twig' %}