{% extends "base.html.twig" %}

{% block title %}Card home{% endblock %}

{% block content %}
<div class="deck">
    <ul>
        <li><a href="{{ path("card-home") }}">Card home</a></li>
        <li><a href="{{ path("deck") }}">Deck</a></li>
        <li><a href="{{ path("deck-shuffle") }}">Shuffled deck</a></li>
        <li><a href="{{ path("draw-card") }}">Draw a card</a></li>
        <li><a href="{{ path("draw-number") }}">Draw several cards</a></li>
</div>

{% endblock %}