{% extends "base.html.twig" %}

{% block title %}Game 21{% endblock %}

{% block content %}

<div class="deck">
<h2>Game 21</h2>
    <h2>Player</h2>
    {% for cards in playerHand %}
    {% for card in cards %}
        <div class="card">
        {% if card.value == 11 %}
        J
        {% endif %}
        {% if card.value == 12 %}
        D
        {% endif %}
        {% if card.value == 13 %}
        K
        {% endif %}
        {% if card.value == 14 %}
        A
        {% endif %}
        {% if card.value <= 10 %}
        {{ card.value }}
        {% endif %}
            {{ card.color }}
        </div>
            {% if card.value == 14 and finished == false %}
                <form method="post">
                    <input type="text" name="action" value="4" hidden>
                    <button name="subject" type="submit" value="HTML">Change Ace to value 1</button>
                </form>
            {% endif %}
    {% endfor %}
    {% endfor %}
    <h2>Bank</h2>
    {% for cards in bankHand %}
    {% for card in cards %}
        <div class="card">
        {% if card.value == 11 %}
        J
        {% endif %}
        {% if card.value == 12 %}
        D
        {% endif %}
        {% if card.value == 13 %}
        K
        {% endif %}
        {% if card.value == 14 %}
        A
        {% endif %}
        {% if card.value <= 10 %}
        {{ card.value }}
        {% endif %}
            {{ card.color }}
        </div>
    {% endfor %}
    {% endfor %}
<div class="choices">
      {% if finished == false and playerScore < 21 %}
  <form method="post">
    <input type="text" name="action" value="1" hidden>
    <button name="subject" type="submit" value="HTML">Draw card</button>
  </form>
  {% endif %}
  {% if finished == false %}
  <form method="post">
    <input type="text" name="action" value="2" hidden>
    <button name="subject" type="submit" value="HTML">Finish round</button>
  </form>
  {% endif %}
  {% if finished == true %}
  <form method="post">
    <input type="text" name="action" value="3" hidden>
    <button name="subject" type="submit" value="HTML">New round</button>
  </form>
{% endif %}

<p>Player score: {{playerScore}} <br></p>
<p>Bank score: {{bankScore}} <br></p>
<h2>Winner: {{result}}</h2>
</div>
</div>

{% endblock %}