<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset("img/favicon.ico") }}">
        <link rel="stylesheet" href="{{ asset("css/style.css") }}"/>
    </head>
    <body>
        <div class="siteheader">
            Header
        </div>

        <div class="navbar">
            <nav>
                <ul>
                    <li><a href="{{ url("home") }}">Home</a></li>
                    <li><a href="{{ path("about") }}">About</a></li>
                    <li><a href="{{ path("report") }}">Report</a></li>
                    <li><a href="{{ path("card-home") }}">Card Home</a></li>
                    <li><a href="{{ path("game") }}">Game Home</a></li>
                    <li><a href="{{ path("app_library") }}">Library home</a></li>
                    <li><a href="{{ path("metrics") }}">Metrics</a></li>
                    <li><a href="{{ path("proj-home") }}">Project</a></li>
                    <li><a href="{{ path("debug") }}">Debug</a></li>
            </nav>
        </div>

        {% block content %}
        Def content
        {% endblock %}

        <div class="sitefooter">
            <p>Created by Alessio Basile &copy; 2022</p>
        </div>
    </body>
</html>
